{% extends "entries" %}
{% do view.registerAssetBundle("yesokolov\\entriespagination\\assetbundles\\entriespagination\\EntriesPaginationCPSectionAsset") %}
    {% block footer %}
        <div id="count-spinner" class="spinner hidden"></div>
        <div id="pagination" class="pagination flex">
                {% for page in pages %}
                    <div class="paginate-link">
                        <span class="page {{ page.current ? 'current'}}"  data-url="{{ page.url }}">
                            {{ page.num }}
                        </span>
                    </div>
                {% endfor %}
            <div class="all">
                {{ current == 1 ? 1 : (100 * (current - 1) +1)  }}-{{ last ? num : current == 1 ? 100 :  current * 100 }} of {{ num }} entries
            </div>
        </div>
        <button type="button" id="export-btn" class="btn hidden">{{ 'Export…'|t('app') }}</button>
    {% endblock %}
